workflows/content-aggregation.json
{
  "name": "Hunter AI - Content Aggregation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "8c8fdd6b-eb6a-41e4-8f5a-4f8e97b89a4f",
      "name": "Schedule Every 2 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://rss.app/feeds/your-rss-feed-url.xml",
        "options": {}
      },
      "id": "2f9b8c5d-1a7e-4b9c-8e3f-6d4a8b2c9e1f",
      "name": "Fetch RSS Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.title}}",
              "operation": "contains",
              "value2": "local"
            }
          ]
        }
      },
      "id": "7e4d8a2b-9c1f-4e5a-b8d3-2f7c6a8e4b9d",
      "name": "Filter Local Content",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "={{$env.HUNTER_API_BASE_URL}}/api/content-queue",
        "options": {
          "headers": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "title",
              "value": "={{$json.title}}"
            },
            {
              "name": "content",
              "value": "={{$json.content}}"
            },
            {
              "name": "source_url",
              "value": "={{$json.link}}"
            },
            {
              "name": "source_type",
              "value": "rss"
            }
          ]
        }
      },
      "id": "5a8e2d4f-7b9c-4e1a-8d6f-3b7a9c5e2d8f",
      "name": "Add to Content Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [900, 300]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "={{$env.HUNTER_API_BASE_URL}}/api/webhooks/trigger-article-generation",
        "options": {
          "headers": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "content_id",
              "value": "={{$json.id}}"
            }
          ]
        }
      },
      "id": "9f3e7a1b-5c8d-4e2f-a7b9-6d8f4a2e7c9b",
      "name": "Trigger Article Generation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Schedule Every 2 Hours": {
      "main": [
        [
          {
            "node": "Fetch RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS Feed": {
      "main": [
        [
          {
            "node": "Filter Local Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Local Content": {
      "main": [
        [
          {
            "node": "Add to Content Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Content Queue": {
      "main": [
        [
          {
            "node": "Trigger Article Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "1",
  "meta": {
    "instanceId": "hunter-ai-content-aggregation"
  },
  "tags": [
    {
      "createdAt": "2025-09-08T00:00:00.000Z",
      "updatedAt": "2025-09-08T00:00:00.000Z",
      "id": "1",
      "name": "hunter-ai"
    }
  ]
}